<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@TODO put page title here</title>
    {% stylesheets
        'bundles/clientwebsite/assets/css/style.css'
        'bundles/clientwebsite/bootstrap/css/bootstrap.css'
        'bundles/clientwebsite/bootstrap/css/bootstrap-theme.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href="http://fonts.googleapis.com/css?family=Lobster|PT+Sans+Narrow:400,700|PT+Sans:400,700" rel="stylesheet" type="text/css">    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <div id="fb-root"></div>
    <![endif]-->
</head>
    <body>
        <header>
            <div class="row">
                <div class="col-lg-4">
                    <h1>
                        <img height="20" src="{{ asset('bundles/clientwebsite/assets/images/logo.png') }}" />
                        <a href="{{ sulu_content_root_path() }}">Logo</a>
                    </h1>
                </div>
                <div class="col-lg-5">
                    {% for locale, url in urls %}
                        <a href="{{ sulu_content_path((url?:'/'),request.webspaceKey,locale) }}">{{ locale }}</a>
                        {% if not loop.last %}&nbsp;|&nbsp;{% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-3">
                    <form action="{{ path(request.portalUrl ~ '.website_search') }}" method="GET">
                        <input name="q" type="text" placeholder="Search" />
                        <input type="submit" value="Go" />
                    </form>
                </div>
            </div>
            {% include 'ClientWebsiteBundle:views:navigation.html.twig' %}
        </header>
        <div class="container">
            <div class="row">
                <!-- content -->
                {% block content %}{% endblock %}
                <!-- /content -->
            </div>
        </div>
        <footer class="row">
            <div class="col-lg-4">&copy; SULU CMF 2014</div>
            <div class="col-lg-4">Access to the demo <a href="/admin" target="_blank">admin</a></div>
            <div class="col-lg-4">Credentials: demo / demo</div>
        </footer>
        {% javascripts
            'http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'
            '@ClientWebsiteBundle/Resources/public/bootstrap/js/bootstrap.min.js'
        %}
           <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!-- Facebook -->
        <script>
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            $.ready(function () {console.debug('Loaded')});
        </script>
    </body>
</html>