<div class="content">
    <!--Block content-->
    <div class="block-content ">
        <!--Info-->
        <div class="block-info">
            <!--Row-->
            <div class="row">
                <div class="col-md-12">
                    <div class="info-holder   margTMedium">
                        {% if contact.addresses is not empty %}
                            <!--Address info-->
                            <div class="address-info">
                                <i class="icon-location"></i>
                                <p>{{ attribute(contact.addresses|first, 'title') }}.</p>
                            </div>
                            <!--End address info-->
                        {% endif %}
                        <!--Contact info-->
                        <div class="contact-info tCenter">
                            <ul>
                                <li>
                                    <a href="mailto:{{ contact.mainEmail }}">
                                        <div class="ico"><i class="icon-mail"></i></div>
                                        <span>email: {{ contact.mainEmail }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:{{ contact.mainPhone }}">
                                        <div class="ico"><i class="icon-phone"></i></div>
                                        <span>mobile: {{ contact.mainPhone }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--End contact info-->
                    </div>
                </div>
            </div>
            <!--End row-->
        </div>
        <!--End info-->
    </div>
    <!--End block content-->
</div>
